@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

// some basic resets 

.sticky {
  padding: 0px;
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 10;
}

.logo {
  padding: 0px 5px;
  font-size: 20px;
}
