
<section class="text-gray-700 body-font relative mt-20">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-col text-center w-full mb-12">
        <h1 class="sm:text-3xl text-3xl font-bold font-serif title-font mb-4 text-gray-900">Fill the details of new post</h1>
        <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Whatever cardigan tote bag tumblr hexagon brooklyn asymmetrical gentrify.</p>
      </div>
      <div class="lg:w-1/2 md:w-2/3 mx-auto">
        <div class="flex flex-wrap -m-2">
          <div class="p-2 w-1/2">
            <input [(ngModel)]="title" class="w-full bg-gray-100 rounded border border-gray-400 focus:outline-none focus:border-indigo-500 text-base px-4 py-2" placeholder="Title" type="text">
          </div>
          <div class="p-2 w-1/2">
            <input [(ngModel)]="category" class="w-full bg-gray-100 rounded border border-gray-400 focus:outline-none focus:border-indigo-500 text-base px-4 py-2" placeholder="Category" type="text">
          </div>
          <div class="p-2 w-full">
            <input [(ngModel)]="author" class="w-full bg-gray-100 rounded border border-gray-400 focus:outline-none focus:border-indigo-500 text-base px-4 py-2" placeholder="Author" type="text">
          </div>
          <div class="p-2 w-full">
            <textarea [(ngModel)]="statement" class="w-full bg-gray-100 rounded border border-gray-400 focus:outline-none h-48 focus:border-indigo-500 text-base px-4 py-2 resize-none block" placeholder="Write your post here!"></textarea>
          </div>
          <div class="p-2 w-full">
            <button (click)="addPost()" class="flex mx-auto text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">POST</button>
          </div>
        </div>
      </div>
    </div>
  </section>
